*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	min-height: 100vh;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

body:has(dialog[open]) {
	overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.2;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
	padding: 0;
}

#root,
#__next {
	isolation: isolate;
}

:target {
	scroll-padding-block-start: 2rem;
}

:focus {
	scroll-padding-block-end: 8vh;
}
